[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
termcolor = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn app.main:app --host=127.0.0.1 --port=8003 --reload"
